[submodule "references/smc360"]
	path = references/smc360
	url = https://github.com/wurthless-elektroniks/smc360
[submodule "references/badjasper"]
	path = references/badjasper
	url = https://github.com/wurthless-elektroniks/badjasper
